@import 'variables';
@import 'mixins';
@import 'functions';

.game-container {
    background-color: $background-color;
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid $ball-color;
    overflow: hidden;

    button {
        @include button-styles;
        position: absolute;
        top: 20px;
        left: calc(50% - 60px);
    }

    .paddle {
        background-color: $paddle-color;
        width: $paddle-width;
        height: $paddle-height;
        position: absolute;
        bottom: 0;
        left: calc(50% - $paddle-width / 2);
        border-radius: 5px;

        @media (max-width: 600px) {
            width: 80px;
        }
    }

    .ball {
        background-color: $ball-color;
        width: $ball-size;
        height: $ball-size;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
}