@mixin button-styles {
    background-color: $button-color;
    border: none;
    color: #fff;
    padding: $button-padding;
    font-size: $font-size;
    border-radius: 5px;
    cursor: pointer;
    
    &:hover {
        background-color: $button-hover-color;
    }
}